$breakpoints: (
  s-xs: 375px,
  s: 480px,
  s-xl: 576px,
  t-xs: 768px,
  t-s: 800px,
  t: 992px,
  t-xl: 1024px,
  d-xs: 1200px,
  d: 1440px,
  d-xl: 1920px,
);

$principal: #63D471;
$secondaire: #0F4F49;
$office: #574c50;
$accueil: #f4f3f0;
$secondairecard: #9FA4AD;
$titresecondaire : #6B7280;
$error : #F37878;
$white: #fff;
$black: #000;
$light: #ddd;
$light-opacity: rgba(255, 255, 255, 0.6);
